# Ignore all text files in the root directory
*.txt
*.csv

model/*.mlmodel

www/uploads/*.*

# Ignore training data text files inside the training directory
training/*.txt
training/*.csv

# Ignore uploaded text files inside the www/uploads directory
www/uploads/*.txt
www/uploads/*.csv

www/nohup.out

.venv/*

training/files/*
