# Ignore training data text files
training/*.txt

# Ignore all text files in the root directory
*.txt

model/*.npy
model/*.json
model/*.mlmodel

www/uploads/*.*

# Ignore test data text files inside the predict/tests directory
predict/tests/*.txt

# Ignore training data text files inside the training directory
training/*.txt

# Ignore uploaded text files inside the www/uploads directory
www/uploads/*.txt
